
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;

  .numbers {
    font-size: 36px;
    cursor: pointer;
  }

  svg {
    width: 500px;
    filter: url('#filter');

    path {
      display: none;
    }

    g {
      circle {
        fill: #72eaff !important; /* Add !important to ensure the style takes precedence */
      }
    }
  }
}
